/* Обнуление */
*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* Стили для демонстрации */
html,body{
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper{
    height: 100%;
    padding: 50px; /* Отступ */
}
/* Основные стили */

.block {}
.block_item {
    margin: 0px 0px 20px 0px; /* Между спойлерами делаем отступ */
}
.block_title {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative; /* Перенос стрелочки спойлера в строку с названием заголовка */
    padding: 0px 0px 0px 30px;
    cursor: pointer;
}
.block_title:before,
.block_title:after {
    content: '';
    width: 10px; /* Длина половины нашей стрелочки */
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 8px; /* Отсуп стрелочки от верхнего края вниз на 10px */
}
.block_title:before{
    transform: rotate(40deg); /* Рисуется часть стрелки в строке заголовка: верхний левый угол к правому нижнему углу */
    left: 0;
}
.block_title:after{
    transform: rotate(-40deg); /* Рисуется часть стрелки в строке заголовка: верхний правый угол к левому нижнему углу */
    left: 8px; /* Смещаем часть стрелки вправо на 7 px от левого края */
}

.block_text {
    display: none;
    padding: 10px 0px 0px 0px; /* Вниз на 10 пикселей */
}

